<div class = "row">
  <div class= "col-md-10 col-md-offset-1 well">
    <% @meals.each do |meal| %>
    <table class= "table">
      <thead>
        <tr>
          <th>
            Ingredientes
          </th>
          <th>
            Unidade
          </th>
          <th>
            Quantidade
          </th>
        </tr>
      </thead>
      <tbody>
        <%= meal.name %>
        <% meal.ingredients.each do |ingredient| %>
          <tr>
            <th>
              <%= ingredient.name %>
            </th>
            <th>
              <%= ingredient.unit %>
            </th>
        <% end %>
            <th>
              <% meal.meal_ingredients.each do |quantity| %>
                <%= quantity.quantity %>
              <% end %>
            </th>
          </tr>
    <% end %>
      </tbody>
      <tfooter>
        <tr>
          <th class="pull-right">
            <%= link_to "Nova Receita", new_meal_path, class: "btn btn-success", data: { no_turbolink: true } %>
          </th>
        </tr>
      </tfooter>
    </table>
  </div>
</div>
